@mixin make-empty-space($origin, $class, $max, $step, $breakpoint: false) {
    @for $i from 1 through ceil($max/$step) {
        $value: $step * $i;
        @if $breakpoint {
            .#{$breakpoint}\:#{$class}#{$value} {
                @if ($origin == "spacer") {
                    height: #{$value}px; 
                } @else if ($origin == "block") {
                    width: #{$value}px; 
                    display: inline-block;
                    min-height: 0.1rem;
                }
            }
        } @else {
            .#{$class}#{$value} { 
                @if ($origin == "spacer") {
                    height: #{$value}px; 
                } @else if ($origin == "block") {
                    width: #{$value}px; 
                    display: inline-block;
                    min-height: 0.1rem;
                }
            }
        }
    }
}

@mixin make-object-space ($origin, $class, $type, $breakpoint: false)  {
    @each $space in $space-values {
        $measure: nth($space, 1);
        $value: nth($space, 2);

        @if $breakpoint {
            .#{$breakpoint}\:#{$class}-#{$measure} {
                @if ($type == 'y') {
                    #{$origin}: #{$value} 0;
                } @else if ($type == 'x') {
                    #{$origin}: 0 #{$value};
                } @else if ($type == 't') {
                    #{$origin}-top: #{$value};
                } @else if ($type == 'b') {
                    #{$origin}-bottom: #{$value};
                } @else if ($type == 'l') {
                    #{$origin}-left: #{$value};
                } @else if ($type == 'r') {
                    #{$origin}-right: #{$value};
                } @else {
                    #{$origin}: #{$value};
                }
            }
        } @else {
            .#{$class}-#{$measure} {
                @if ($type == 'y') {
                    #{$origin}: #{$value} 0;
                } @else if ($type == 'x') {
                    #{$origin}: 0 #{$value};
                } @else if ($type == 't') {
                    #{$origin}-top: #{$value};
                } @else if ($type == 'b') {
                    #{$origin}-bottom: #{$value};
                } @else if ($type == 'l') {
                    #{$origin}-left: #{$value};
                } @else if ($type == 'r') {
                    #{$origin}-right: #{$value};
                } @else {
                    #{$origin}: #{$value};
                }
            }
        }
    }
}