/* --- Configurations for the framework --- */

$spacers-step: 15;
$spacers-max: 300;

$blocks-step: 15;
$blocks-max: 300;

$margins-step: 1;
$margins-max: 120;

$margins-type: (
    "m" : "all",
    "my" : "y",
    "mx" : "x",
    "mt" : "t",
    "mb" : "b",
    "ml" : "l",
    "mr" : "r"
);

$paddings-step: 1;
$paddings-max: 120;

$paddings-type: (
    "p" : "all",
    "py" : "y",
    "px" : "x",
    "pt" : "t",
    "pb" : "b",
    "pl" : "l",
    "pr" : "r"
);

$space-values : (
    "0" : "0rem",
    "1" : "0.1rem",
    "2" : "0.2rem",
    "3" : "0.3rem",
    "4" : "0.4rem",
    "5" : "0.5rem",
    "6" : "0.6rem",
    "8" : "0.8rem",
    "10" : "1rem",
    "12" : "1.2rem",
    "16" : "1.6rem",
    "20" : "2rem",
    "24" : "2.4rem",
    "32" : "3.2rem",
    "40" : "4rem",
    "48" : "4.8rem",
    "56" : "5.6rem",
    "64" : "6.4rem",
);

$breakpoints: (
    "sm" : 575,
    "tb" : 768,
    "md" : 1024,
    "lg" : 1280,
    "xl" : 1440
);

$white: #fff;
$black: #000;