/* --- Configurations for the framework --- */

$spacers-step: 15;
$spacers-max: 300;

$blocks-step: 15;
$blocks-max: 300;

$margins-step: 1;
$margins-max: 120;

$margins-type: (
    "m" : "all",
    "my" : "y",
    "mx" : "x",
    "mt" : "t",
    "mb" : "b",
    "ml" : "l",
    "mr" : "r"
);

$breakpoints: (
    "sm" : 575,
    "tb" : 768,
    "md" : 1024,
    "lg" : 1280,
    "xl" : 1440
);

$white: #fff;
$black: #000;