/*! qsk.css v0.0.3 | MIT License | github.com/rdnine/qsk.css */

/* --- Core rules for QSK to Work --- */

/**
 * 1. Prepare the document font-size to work better with rem's mesures
 * 2. Verdana as the default font-family. Web Safe Font
 */

html { font-size: 10px; /* 1 */ font-family: Verdana, Geneva, sans-serif; /* 2 */ }

/**
 * 1. Links and buttons elements have transition animations by default
 */

a, button { transition: all ease 0.5s; /* 1 */ }

/**
 * 1. Remove browser decorations to links
 */

a { text-decoration: none; /* 1 */ }

a:hover, a:focus { text-decoration: none; /* 1 */ }

/* --- Let's Load some Goodies --- */

@import './variables';
@import './functions';
@import './normalize';
@import './utilities';